@import 'login';
@import 'board-ext';
@import 'topbar';

.only-visible-if-logged-in, .only-visible-if-in-game {
  visibility: hidden;
}

.only-display-if-logged-in, .only-display-if-in-game {
  display: none;
}

#board {
    width: 100%;
    max-width: 400px;
    @include center;
}

#white_time {

}

#black_time {
  background-color: black;
  color: white;
  border-radius: 3px;
  padding: 3px;
}

.mytime {
  font-weight: bold;
}

#your_turn {
	font-size: 24px;
	visibility: hidden;
}

body.myTurn #your_turn {
	visibility: visible;
}

#boardHeader {
  text-align: center;
}

#chessclock {
  display: inline-block;
  @include center;
  padding: 6px;
  font-size: 16px;
}
