@import 'login';
@import 'board-ext';
@import 'topbar';

body.modal-open {
  // position: fixed; just for iOS but causes the chessboard to be off center until modal closes
  // overflow: hidden;
}

.only-visible-if-logged-in, .only-visible-if-in-game {
  visibility: hidden;
}

.only-display-if-logged-in, .only-display-if-in-game, .only-display-after-game {
  display: none;
}

#board {
    width: 100%;
    max-width: 400px;
    @include center;
}

#historyButtons {
  margin-top: 10px;
  text-align: center;
}

#chessclock {
  font-size: 27px;
}

#chessclock span {
  width: 50%;
  display: inline-block;
  padding: 0 4px;
}

#my-time {
  text-align: right;
  opacity: 0.5;
}

body.myTurn #my-time {
  opacity: 1;
}

#opp-time {
  font-size: 18px;
}

body.myTurn #opp-time {
  opacity: 0.5;
}
