/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}*/
#log_container {
  width: 300px;
  border: 1px solid #000;
  float: left; }

#log {
  width: 100%;
  height: 300px;
  overflow-y: scroll; }

#textinput {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none; }

#textinput:focus {
  outline: none; }

#log .self {
  font-weight: bold; }
#log .json {
  font-size: 10px;
  color: gray; }
#log .alert {
  color: red;
  font-weight: bold; }

/*.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}*/
#userInfo {
  height: 50px; }

.opp-highlight-white {
  -webkit-box-shadow: 0 0 3px 3px yellow inset ;
  -moz-box-shadow: 0 0 3px 3px yellow inset ;
  box-shadow: 0 0 3px 3px yellow inset ; }

.opp-highlight-black {
  -webkit-box-shadow: 0 0 3px 3px blue inset ;
  -moz-box-shadow: 0 0 3px 3px blue inset ;
  box-shadow: 0 0 3px 3px blue inset ; }

#board {
  width: 400px; }

.joingame {
  float: right; }

.mycontainer {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto; }

.stat-title {
  font-weight: bold; }

.username {
  color: green;
  font-size: 12pt; }

/* http://stackoverflow.com/questions/15982233/spinner-for-twitter-bootstrap-btn */
.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;
  -webkit-transition: opacity 0.25s, max-width 0.45s;
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s;
  /* Duration fixed since we animate additional hidden width */ }

.has-spinner.active {
  cursor: progress; }

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px;
  /* More than it will ever come, notice that this affects on animation duration */ }
